<nav>
    <h1>Ad Portal</h1>

    <div class="linkContainer">
        <div class="links">
            <div class="linkHeader">
                <i class="bi bi-x-lg closeMenuBtn" (click)="closeMenu()"></i>
                <img class="profile" src="" alt="">
            </div>
    
            <hr>

            <a routerLink="/ads">Ads</a>
            <a routerLink="/ad/create">Create</a>
            <a routerLink="/logout">Logout</a>
        </div>

        <img class="profile menu" (click)="openMenu()" src="" alt="">
    </div>
</nav>
