<nav>
    <div class="navbar">
        <h1>Hírdetés Portál</h1>

        <div class="inlineNav">
            <div class="linkContainer">
                <a routerLink="/ads">Hírdetések</a>
                <a routerLink="/categories">Kategóriák</a>
                <a routerLink="/logout">Kijelentkezés</a>
            </div>

            <div class="menuIcon" (click)="openSidebarNav()">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                </svg>
            </div>
        </div>
    </div>

    <div class="sidebarNav linkContainer">
        <h1>Hírdetés Portál</h1>
        <a routerLink="/ads">Hírdetések</a>
        <a routerLink="/categories">Kategóriák</a>
        <a routerLink="/logout">Kijelentkezés</a>
    </div>

    <div class="overlay" (click)="closeSidebarNav()"></div>
</nav>
